body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

.app-container {
  display: flex;
}

.app-container.landing-view-container {
  display: block;
  width: 100%;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
  height: 100vh;
}

.landing-main-content {
  flex-grow: 1;
  padding: 0;
  overflow-y: auto;
  min-height: 100vh;
  width: 100%;
}